<%- include('./partials/header') %>


   <title><%= title %></title>
    
    <h1><%= title %></h1>
    <!-- <p>Welcome to <%= title %></p> -->
<p>Welcome to Mongoose Flights, where we make travel unforgettable!
  <p><Whether for business or pleasure, we're here to ensure your journey is seamless, comfortable, and enjoyable.</p>
    <p> From takeoff to landing, our dedicated team will exceed your expectations. Choose from our wide range of destinations and flexible flight options.</p>
      <p>Book your flights easily on our website and explore our latest offers. Let us be your trusted companion on your next adventure.</p>
      <p> Sit back, relax, and let us take care of the details. </p>

    <%- include('./partials/footer') %>