<%- include('../partials/header') %>

 <h2>Flights List</h2>
 <table>
   <thead>
     <tr>
       <th>Airline</th>
       <th>Flight No</th>
       <th>Airport</th>
       <th>Departure Date</th>
     </tr>
   </thead>
   <tbody>
<!-- <% flights.forEach(function(f) { %> -->







       <tr>
         <td><%= f.airline %></td>
         <td><%= f.flightNo %></td>
         <td><%= f.airport %></td>
         <td><%= f.departs%></td>
       </tr>
   <%  }) %>
   </tbody>
 </table>

 <%- include('../partials/header') %>